:root {
	--main-text-color: #F5F5F5;
	/*--secondary-color: #4ABDAC;
	--compliment-color: #FC4A1A;
	--secondary-text-color: blue;*/

	/*--secondary-color: #A9A9A9;
	--compliment-color: #FF3B3F;
	--secondary-text-color: blue;*/

	/*--secondary-color: #438496;
	--compliment-color: #CD5360;
	--secondary-text-color: blue;*/

	--secondary-color: #4ABDAC;
	--compliment-color: #FC4A1A;
	--secondary-text-color: blue;
}

body, html {
	margin: 0;
    padding: 0;
	height: 100%;
}

h1 {
	color: var(--main-text-color);
	font-family: 'Alegreya', serif;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 14px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    line-height: 48px;
    font-size: 75px;
    letter-spacing: 4px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 4.0px;
}

h3 {
	padding-top: 40px;
	padding-bottom: 0px;
	font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    
    letter-spacing: 1.2px;
    margin: 0;
}

h4 {
	font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 23px;
    margin: 15px 0 15px 0;
    font-weight: bold;
}

h5 {
	font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 23px;
    
}

p {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;	
}

hr {
	border: 0;
    text-align: left;
	width: 100%;
	height: 2px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.title {
	padding-top: 40px;
	text-align: right;
}

.content {
	padding-top: 40px;
	padding-bottom: 40px;
	color: var(--compliment-color);
}

.navbar-default {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
    line-height: 23px;
    font-weight: bold;
 	background-color: var(--secondary-color);
}

.navbar-default a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
    line-height: 23px;
	color: var(--main-text-color);
}

.custom-toggler.navbar-toggler {
    border-color: var(--main-text-color);
    float: right;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("./imgs/toggler.svg");
}

.fillMain {
	width: 100%;
	background-color: var(--main-text-color);
	position: relative;
	z-index: 2;
}

.fillSecondary {
	width: 100%;
	background-color: var(--secondary-color);
	position: relative;
	z-index: 2;
}

.date {
	text-align: right;
}

#fixTitle {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	position: fixed;
	top: 50%;
}

.textMain {
	color: var(--main-text-color);
}

.textSecondary {
	color: var(--secondary-color);
}

.textCompliment {
	color: var(--compliment-color);
}

.hrCompliment {
	background-color: var(--compliment-color);
	color: var(--compliment-color);
}

.hrMain {
	background-color: var(--main-text-color);
	color: var(--main-text-color);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
	opacity: 0.6;
}

#hrSecondary {
	background-color: var(--secondary-color);
	color: var(--secondary-color);
}

#home {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
	background-image: url("imgs/piano.png");
	background-color: var(--secondary-color);
	height: 100%;
}

#about {
	background-image: none;
	background-color: var(--main-text-color);
	position: relative;
	padding-top: 10px;
	padding-bottom: 60px;
}

#experience {
	background-image: none;
	width: 100%;
	position: relative;
	background-color: var(--secondary-color);
	padding-top: 10px;
	padding-bottom: 60px;
}

#prof {
	background-image: none;
	background-color: var(--main-text-color);
	position: relative;
	padding-top: 10px;
	padding-bottom: 60px;
}

#contact {
	background-image: none;
	position: relative;
	background-color: var(--secondary-color);
	padding-top: 10px;
	padding-bottom: 60px;
}